body{
	background-image: url(images/rajaampat1.jpg);
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}
#tampilan{
	background-image: rgba(222, 237, 253, 0.5);
	width: 1000px;
	height: 200px;
	margin: auto;
	padding: 5px;
}
#header{
	background: antiquewhite;
	height: 200px;
	width: 1000px;
	overflow: hidden;
}
#teks{
	background-color: rgba(194, 214, 195, 0.8);
	height: 20px;
	width: 995px;
	overflow:hidden;
	border-style: double;
	border-color: purple;
}
#menu{
	background: antiquewhite;
	height: 30px;
	width: 1000px;
}
#kiri{
	background-color:rgba(221, 241, 241, 0.7);
	height: 750px;
	width: 650px;
	float: left;
	border-style: hidden;
	border-color: #5a6bbf;
}
#kanan{
	background-color: rgba(244, 215, 250, 0.7);
	height: 750px;
	width: 350px;
	float: right;
	border-style: hidden;
	border-color: #5a6bbf;
}
footer {
    background-color: #00796b;
    color: white;
    text-align: center; 
    padding: 10px; 
    position: relative; 
    bottom: -800px; 
    width: 100%;
}